<footer class="footer">
  <div class="footer__content">
    <span class="footer__span"
      >Status: <span class="footer__data">{{ status }}</span>
    </span>
    <span class="footer__span"
      >Relase Date:
      <span class="footer__data">{{ release_date | date : "mediumDate" }}</span>
    </span>

    <span class="footer__span"
      >Runtime:
      <span class="footer__data">{{ runtime }} min.</span>
    </span>
  </div>

  @if (director?.length) {
  <span class="footer__span"
    >Director: @for (direct of director; track direct.id) {
    <span class="footer__data">{{ direct.name }}</span>
    }
  </span>

  } @if (writer?.length) {
  <span class="footer__span"
    >Writter: @for (writ of writer; track writ.id) {
    <span class="footer__data">{{ writ.name }}</span>
    }
  </span>
  }
</footer>
