.footer {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  font-size: 0.9rem;
  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
  &__span {
    padding: 0.3em 0.1em;
    border-bottom: 0.0625rem solid #fff;
    font-weight: 600;
  }
  &__data {
    font-weight: 500;
    color: #ffffffd8;
  }
}
