<footer class="footer">
  <div class="footer__content">
    <span class="footer__span"
      >Status: <span class="footer__data">{{ status }}</span>
    </span>
    <span class="footer__span"
      >Relase Date:
      <span class="footer__data">{{ release_date | date : "mediumDate" }}</span>
    </span>

    <span class="footer__span"
      >Runtime:
      <span class="footer__data">{{ runtime }} min.</span>
    </span>
  </div>

  <span class="footer__span">Director: <span></span> </span>
  <span class="footer__span">Writter: <span></span> </span>
</footer>
