.casts__list {
  padding: 0 0 2em 0;
  display: flex;
  gap: 1.2em;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.casts__list::-webkit-scrollbar {
  height: 3px;
}

.casts__list::-webkit-scrollbar-thumb {
  background-color: #ffffffc0;
}
