.movie {
  padding: 0.5em;
  position: relative;
  border-radius: 1em;
  cursor: pointer;
  background-color: transparent;
  overflow: hidden;
  transition: all 0.2s ease-in-out;

  &:hover {
    padding: 0.5em;

    background-color: #e8e8e8;
  }
  &__img {
    border-radius: 1em;
  }
  &__info {
    position: absolute;
    width: 100%;
    padding: 1em;
    color: #e8e8e8;

    bottom: 0.5em;
    left: 0;
    min-height: 5em;

    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-weight: 600;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 0.2em;
  }
  &__release {
    font-weight: 400;
    font-size: 0.9rem;
  }
}
