.movie {
  padding: 0.5em;
  position: relative;
  border-radius: 1em;
  cursor: pointer;
  background-color: transparent;
  overflow: hidden;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
  &__img {
    border-radius: 1em;
  }
  &__info {
    position: absolute;
    width: 100%;
    padding: 1em;
    font-weight: 800;
    bottom: 0.5em;
    left: 0;
    min-height: 5em;
    background: linear-gradient(2deg, rgba(4, 21, 45, 0) 0%, #070709 100%);

    display: flex;
    justify-content: space-between;
  }
  &__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 0.2em;
  }
  &__release {
    font-size: 0.9rem;
  }
}

.animation {
  view-timeline: --subjectReveal block;
  view-timeline-inset: 70% -6.25rem;
  animation-timeline: --subjectReveal;

  animation-name: appear;
  animation-range: entry 10% contain 25%;
  animation-fill-mode: both;
  animation-duration: 1ms;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scaleX(0);
  }

  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
