.movie-ifo {
  display: flex;
  flex-direction: column;
  row-gap: 5em;
}
.title {
  font-size: 2rem;
  font-weight: 600;
}
.movie {
  padding: 1em;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(1, 1fr);
  }
  &__img {
    position: relative;
    border-radius: 0.3em;
    overflow: hidden;

    max-width: 50em;
  }
  &__image {
    height: 100%;
  }
  &__rating {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    padding: 0.3em 0.5em;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    &-header {
      display: flex;
      flex-direction: column;
      row-gap: 0.6em;
    }
    &-body {
      display: flex;
      flex-direction: column;
      row-gap: 0.4em;
    }
    &-subtitle {
      font-size: 1.1rem;
    }
    &-overview {
      text-wrap: pretty;
      line-height: 1.3em;
    }
  }
}

.top-casts,
.trailers,
.movies {
  padding: 1em;
  display: flex;
  flex-direction: column;
  row-gap: 1.8em;
}
.trailers {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
    gap: 1.5em;
  }
}
.movies {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    gap: 2em;
  }
}
