@if (movie) {
<section class="movie-ifo wrapper">
  <div class="movie">
    <div class="movie__img">
      <div class="">
        <img
          class="movie__image"
          loading="lazy"
          height="400"
          width="300"
          [src]="img_500 + movie.poster_path"
          [alt]="movie.title"
          [style]="{ 'view-transition-name': 'movie-' + movie.id }"
        />
      </div>
      <rating-movie [rating]="movie.vote_average" class="movie__rating" />
    </div>

    <div class="movie__content">
      <header class="movie__content-header">
        <header-movie
          [title]="movie.title"
          [release_date]="movie.release_date"
          [tagline]="movie.tagline"
        />
        <category-movies [genres]="movie.genres" />
      </header>

      <div class="movie__content-body">
        <h3 class="movie__content-subtitle">OverView</h3>
        <p class="movie__content-overview">{{ movie.overview }}</p>
      </div>

      <movie-footer
        [status]="movie.status"
        [release_date]="movie.release_date"
        [runtime]="movie.runtime"
      />
      <app-companies-logos
        [production_companies]="movie.production_companies"
      />
    </div>
  </div>

  <section class="top-casts">
    <h2 class="title">Top Casts</h2>
    <top-casts [creditsMovie]="creditsMovie" />
  </section>

  <section class="trailers">
    <h2 class="title">Official Trailers</h2>

    <list-of-trailers class="trailers__list" [trailersMovie]="trailersMovie" />
  </section>

  <section class="movies">
    <h2 class="title">Similar Movies</h2>
    <list-of-movies class="movies__list" [movies]="similarMovies" />
  </section>
</section>

}
