@if (img) {
<div class="banner wrapper">
  <img [src]="base_imgUrl + img" [alt]="bannerMovie?.title" />

  <div class="banner__info">
    <h2 class="banner__info-title">{{ bannerMovie?.title }}</h2>
    <span class="banner__info-date">{{ bannerMovie?.release_date }} </span>
    <p class="banner__info-overview">{{ bannerMovie?.overview }}</p>
  </div>
</div>
<ul class="banner__logos wrapper">
  @for (logo of bannerMovie?.production_companies; track logo.id) {
  @if(logo.logo_path) {
  <companies-logo [logo_path]="logo.logo_path" [name]="logo.name" />
  } }
</ul>

}
