.banner {
  position: relative;
  background: linear-gradient(360deg, rgba(4, 21, 45, 0) 0%, #070709 19.17%);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rebeccapurple;
    background: linear-gradient(270deg, rgba(4, 21, 45, 0) 50%, #070709 100%);
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rebeccapurple;
    background: linear-gradient(90deg, rgba(4, 21, 45, 0) 50%, #070709 100%);
  }

  &__info {
    position: absolute;
    max-width: 30em;
    padding: 0.5em;
    bottom: 1em;
    left: 1em;
    border-radius: 0.3em;
    z-index: 1;

    background: linear-gradient(180deg, rgba(4, 21, 45, 0) 0%, #070709 90%);

    display: flex;
    flex-direction: column;
    row-gap: 0.3em;

    &-title {
      color: var(--text-color-secondary);

      font-size: 1.5rem;
      font-weight: 600;
    }
    &-date {
      font-size: 0.9rem;
      color: lightgray;
    }
    &-overview {
      font-size: 0.9rem;
      text-wrap: pretty;
      line-height: 1.3em;
    }
  }

  &__logos {
    padding: 1em;
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
  }
}
